body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.converter-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h4 {
    margin-top: 0;
    color: #6c757d;
}

.start-btn,
.stop-btn,
.reset-btn,
.download-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.start-btn:hover,
.stop-btn:hover,
.reset-btn:hover,
.download-btn:hover {
    background-color: #0056b3;
}

.output-box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f1f3f4;
    color: #495057;
    overflow: auto;
    max-height: 350px;
}

.stop-btn,
.reset-btn,
.download-btn {
    margin-top: 10px;
}